@use "../abstract" as *;
/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 320px) and (max-width: 599px) {
  header .header-bottom-area .header-right {
    text-align: left;
  }
  .banner-area .banner-img .banner-overflow{
    display: none;
  }
  .about-area .about-b .categories {
    margin-left: 0;
  }
  .copyright-area {
    text-align: center;
  }
  .copyright-area .copyright .c-r{
    text-align: center;
    margin-top: 15px;
  }
  .about-content {
    padding-left: 0px;
  }
//  header .mobile-menu .mean-bar {
//     background: none;
    
//   }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
  header .header-bottom-area .header-right {
    text-align: left;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  header .header-bottom-area .header-right {
    text-align: left;
  }
 

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px){
  header .main-menu .navigation-menu a {
    background: none;
    display: block;
  }
  header .main-menu .menu-toggle-btn{
    display: block;
  }
  header .main-menu .navigation-menu{
    position: fixed;
    width: 100%;
    max-width: 400px;
    background: #172b4d;
    top: 90px;
    right: 0;
    display: none;
    padding: 20px 40px;
    z-index: 99;
    height: 100vh;
    box-sizing: border-box;
  }
  header .main-menu .navigation-menu::before{
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #172b4d;
    position: absolute;
    top: -10px;
    right: 10px;
  }
  header .main-menu .navigation-menu.active{
    display: block;
  }

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}